{% extends 'admin/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<form method="POST">
  {% if msg %}{{ msg }}{% endif %}
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <select name="role">
    <option value="0">システム管理者</option>
    <option value="1">一般</option>
    <option value="2">閲覧</option>
  </select>
  <!-- <input type="hidden" name="csrf_name" value="{# csrf_name #}"> -->
  <!-- <input type="hidden" name="csrf_value" value="{# csrf_value #}"> -->
  <input type="submit" value="Submit">
</form>

<a href="/admin/users" alt="logout">戻る</a>
{% endblock %}
