{% extends './base.html' %}
{% block title %}Edit Page{% endblock %}
{% block content %}

<div style="width: 1500px; margin:0 auto; padding: 10px;">
  <form method="POST">
    <div class="">
      <label for="group_name">フォーム名</label>
      <input type="text" id="group_name" name="group_name" placeholder="username" required value="{% if form_group.name %}{{ form_group.name }}{% endif %}">
      <label for="group_uri">フォームURL</label>
      <input type="text" id="group_uri"  name="group_uri" placeholder="username" required value="{% if form_group.uri %}{{ form_group.uri }}{% endif %}">
    </div>

    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>表示名</th>
          <th>定義名</th>
          <th>フォームタイプ</th>
          <th>入力例</th>
          <th>必須オプション</th>
          <th>選択肢</th>
          <th>バリデーション</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        {% for form_item in form_items %}
        <tr  class="row" data-formno="{{ loop.index0 }}">
          <td><input type="text" id="label_name" name="label_name[{{ loop.index0 }}]" placeholder="名前" required value="{{ form_item.labelname }}"></td>
          <td><input type="text" id="schema_name" name="schema_name[{{ loop.index0 }}]" placeholder="name" required value="{{ form_item.schemaname }}"></td>
          <td><select id="input_type" name="input_type[{{ loop.index0 }}]">
            {% for key, value in itemtypes %}
            <option value="{{ key }}" {% if form_item.inputtype == key %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
          </select></td>
          <td><input type="text" id="placeholder"" name="placeholder[{{ loop.index0 }}]" value="{{ form_item.placeholder }}"></td>
          <td><input type="checkbox" id="is_required" name="is_required[{{ loop.index0 }}]" value="1" {% if form_item.isrequired %}checked="checked" {% endif %}></td>
          <td><textarea id="choice_value" name="choice_value[{{ loop.index0 }}]" placeholder="改行して入力ください" rows="3" cols="20">{{ form_item.choicevalue }}</textarea></td>
          <td>
            <select id="validate" name="validate[{{ loop.index0 }}]">
              {% for key, value in valid_types %}
              <option value="{{ key }}" {% if form_item.validate == key %}selected{% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
          </td>
          <td><a class="deletformbox">削除</a></td>
        </tr>
        {% else %}
        <tr class="row" data-formno="0">
          <td><input type="text" id="label_name" name="label_name[0]" placeholder="名前" required value=""></td>
          <td><input type="text" id="schema_name" name="schema_name[0]" placeholder="name" required value="{{ form_item.schemaname }}"></td>
          <td><select id="input_type" name="input_type[0]">
              {% for key, value in itemtypes %}
              <option value="{{ key }}" {% if form_item.inputtype == key %}selected{% endif %}>{{ value }}</option>
              {% endfor %}
            </select></td>
          <td><input type="checkbox" id="is_required" name="is_required[0]" value="1"
              {% if form_item.isrequired %}checked="checked" {% endif %}></td>
          <td><input type="text" id="placeholder"" name=" placeholder[{{ loop.index0 }}]" value="{{ form_item.placeholder }}"></td>
          <td><textarea id="choice_value" name="choice_value[0]" placeholder="改行して入力ください" rows="3" cols="20">{{ form_item.choicevalue }}</textarea></td>
          <!-- <td><input type="text" id="validate" name="validate[0]" placeholder="ex) email /^\S+@\S+\.\S+$/" value="{# form_item.validate #}"></td> -->
          <td>
              <select id="validate" name="validate[0]">
                  {% for key, value in valid_types %}
                  <option value="{{ key }}" {% if form_item.validate == key %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
              </select>
          </td>
          <td><a class="deletformbox">削除</a></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    <!-- <input type="hidden" name="csrf_name" value="{# csrf_name #}"> -->
    <!-- <input type="hidden" name="csrf_value" value="{# csrf_value #}"> -->
    <p><a class="addformbox">追加</a></p>
    <div class="field">
      <button class="button is-success">登録</button>
    </div>
  </form>
  <a href="/admin/forms" alt="logout">戻る</a>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
  // 追加
  $('.addformbox').click(function () {
    var clonecode = $('.row:last').clone(true);

    var cloneno = clonecode.attr('data-formno');
    var cloneno2 = parseInt(cloneno) + 1;
    // var cloneno3 = parseInt(cloneno) + 2;

    clonecode.attr('data-formno', cloneno2);
    // clonecode.find('.no').html(cloneno3);

    var tmp = clonecode.find('input#label_name').attr('name');
    tmp = tmp.replace(/label_name\[[0-9]{1,2}/g, 'label_name[' + cloneno2);
    clonecode.find('input#label_name').attr('name', tmp);

    tmp = clonecode.find('input#schema_name').attr('name');
    tmp = tmp.replace(/schema_name\[[0-9]{1,2}/g, 'schema_name[' + cloneno2);
    clonecode.find('input#schema_name').attr('name', tmp);

    tmp = clonecode.find('select#input_type').attr('name');
    tmp = tmp.replace(/input_type\[[0-9]{1,2}/g, 'input_type[' + cloneno2);
    clonecode.find('select#input_type').attr('name', tmp);

    tmp = clonecode.find('input#placeholder').attr('name');
    tmp = tmp.replace(/placeholder\[[0-9]{1,2}/g, 'placeholder[' + cloneno2);
    clonecode.find('input#placeholder').attr('name', tmp);

    tmp = clonecode.find('input#is_required').attr('name');
    tmp = tmp.replace(/is_required\[[0-9]{1,2}/g, 'is_required[' + cloneno2);
    clonecode.find('input#is_required').attr('name', tmp);

    tmp = clonecode.find('textarea#choice_value').attr('name');
    tmp = tmp.replace(/choice_value\[[0-9]{1,2}/g, 'choice_value[' + cloneno2);
    clonecode.find('textarea#choice_value').attr('name', tmp);

    // tmp = clonecode.find('input#validate').attr('name');
    // tmp = tmp.replace(/validate\[[0-9]{1,2}/g, 'validate[' + cloneno2);
    // clonecode.find('input#validate').attr('name', tmp);
    tmp = clonecode.find('select#validate').attr('name');
    tmp = tmp.replace(/validate\[[0-9]{1,2}/g, 'validate[' + cloneno2);
    clonecode.find('select#validate').attr('name', tmp);

    clonecode.insertAfter($('.row:last'));
  });

  $('.deletformbox').click(function () {
    $(this).parents(".row").remove();

    var scount = 0;
    $('.row').each(function () {
      var scount2 = scount + 1;

      $(this).attr('data-formno', scount);
      // $('.no', this).html(scount2);

      var tmp = $('input#label_name', this).attr('name');
      tmp = tmp.replace(/label_name\[[0-9]{1,2}/g, 'label_name[' + scount);
      $('input#label_name', this).attr('name', tmp);

      tmp = $('input#schema_name', this).attr('name');
      tmp = tmp.replace(/schema_name\[[0-9]{1,2}/g, 'schema_name[' + scount);
      $('input#schema_name', this).attr('name', tmp);

      tmp = $('select#input_type', this).attr('name');
      tmp = tmp.replace(/input_type\[[0-9]{1,2}/g, 'input_type[' + scount);
      $('select#input_type', this).attr('name', tmp);

      tmp = $('input#placeholder', this).attr('name');
      tmp = tmp.replace(/placeholder\[[0-9]{1,2}/g, 'placeholder[' + scount);
      $('input#placeholder', this).attr('name', tmp);

      tmp = $('input#is_required', this).attr('name');
      tmp = tmp.replace(/is_required\[[0-9]{1,2}/g, 'is_required[' + scount);
      $('input#is_required', this).attr('name', tmp);

      tmp = $('textarea#choice_value', this).attr('name');
      tmp = tmp.replace(/choice_value\[[0-9]{1,2}/g, 'choice_value[' + scount);
      $('textarea#choice_value', this).attr('name', tmp);

      // tmp = $('input#validate', this).attr('name');
      // tmp = tmp.replace(/validate\[[0-9]{1,2}/g, 'validate[' + scount);
      // $('input#validate', this).attr('name', tmp);
      tmp = $('select#validate', this).attr('name');
      tmp = tmp.replace(/validate\[[0-9]{1,2}/g, 'validate[' + scount);
      $('select#validate', this).attr('name', tmp);

      scount += 1;
    });
  });

</script>
{% endblock %}
